{% extends 'base.html' %}
{% load static %}

{% block title %}Категорії{% endblock %}

{% block content %}
<div class="categories-container">
    <h1>Категорії</h1>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'select_difficulty' category.id %}">{{ category.name }}</a>
                <p>{{ category.description }}</p>
            </li>
        {% endfor %}
    </ul>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</div>
{% endblock %}
